{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
		<link rel="stylesheet" type="text/css" href="{% static 'studywhereapp/css/styles.css' %}" />
		{% include "navbar.html" with nav_location=view.location %}



<div class="venueDetailView">
	<h1>{{ venue.name }}</h1>
		<div>
			<p>Description {{ venue.description }}</p>
			<p>Price {{ venue.price }}</p>
			<p>Hours {{ venue.hours }}</p>
			<p>Venue Rating {{ venue.venue_rating }}</p>
			<p>Location {{ venue.location }}</p>
			<p>Drinks Available {{ venue.drinks_available }}</p>
			<p>Food Available {{ venue.food_available }}</p>
		</div>
		{% if venue.image %}
        <img style="width: 80%" src="{{ venue.image.url }}" alt="venue image">
		{% endif %}
</div>


</body>
</html>