{% extends 'index.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

	{% block main_stuff %}

    <h1>Venues</h1>
	<div class="cardContainer">
		{% for venue in venues %}
    	<div class="card">
		{% if venue.image %}
		<img  class="venueListItem" style="width:100%" src="{{venue.image.url}}" alt="venue image">
		{% endif %}
		<a href="{% url 'studywhereapp:detail' venue.pk %}">Comments: {{ venue.comments.count }}</a>
        <a href="{% url 'studywhereapp:detail' venue.pk %}"> {{venue.name}} {{ venue.address }}</a>
		</div>
	</div>
    {% endfor %}

    {% endblock main_stuff%}
