body {
	font-family: 'Arapey', serif;
	background-color: rgb(246, 247, 233);

}

nav {
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
	background-color: #D8D8D8;
	padding-top: 8px;
	font-family: 'Arapey', serif;
}

nav > a {
	font-family: 'Arapey', serif;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 300px;
	height: 400px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.cardContainer {
	display: flex;
	flex-direction: row;
}

.venueDetailView {
	width: 300px;
	background-color: #85B9BD !important;
	color: white;
	overflow: hidden;
}

.venueDetailView > h1 {
	color: white !important;
}

.comment {
    margin: 20px 0px 20px 20px;
}



.floating-panel {
	position: absolute;
	top: 13%;
	left: 10%;
	z-index: 5;
	background-color: rgba(216,216,216,.88);
	padding: 5px;
	border: 1px solid #999;
	text-align: left;
	line-height: 20px;
	font-size: .7em;
	padding-left: 10px;
}


.floating-panel > h1 {
	color: #85B9BD;
	font-size: 1.5em;
	font-family: Arapey, serif;
	font-weight: 500;
	text-align: center;
}

.swlogo {
	height: 40px;
}

.profile {
	/* right: 10% !important; */
	left: 60% !important;
}
/* Dropdown container - needed to position the dropdown content */
.dropdown {
	overflow: hidden;
	margin-top: 10px;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 1.2em;
    border: none;
    outline: none;
	color: #9874BA;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
	display: none;
    position: absolute;
	z-index: 1;
	text-indent: 60px;
}

/* Style the links inside the dropdown */
.dropdown-content a {
	color: #9B9B9B;
    text-decoration: none;
    display: flex;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(0,0,0,0);
	color: 9874BA;
	text-align: center;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgba(0,0,0,0);
	color: #85B9BD;
	text-align: center;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
	display: block;
	background-color: rgba(0,0,0,0);
	text-align: center;
}


.add_venue, .list_venues{
	border: none;
	outline: none;
	color: #85B9BD;
	font-family: 'Arapey', serif;
	background-color: rgb(216,216,216);
	font-size: 1.2em;
	margin-top: 10px;
}

.add_venue_form input {
	width: 150px;
}

.add_venue_container {
	width: 200px;
}

.search_box {
	background-color:lightgrey;
	margin-top: 10px;
	width: 200px;
	height: 25px;
}

.registerLoginContainer {
	display: contents;
	left: 25% !important;
}

.registerLogin {
	color: #85B9BD;
	margin-top: 10px;
	text-decoration: none;
	display: grid;
	column-count: 2;
}

.login-form-container {
	left: 50% !important;
	width: 250px !important;
}

.register-form-container {
	left: 60% !important;
	width: 200px !important;
}

#login_form {
	text-align: center;
}

#login_form > input {
	width: 150px;

}

#user_form {
	display: block;
	text-align: center;
}

label[for=id_name], label[for=id_description], label[for=id_hours], label[for=id_price], label[for=id_address], label[for=id_latitude], label[for=id_longitude], label[for=id_username], label[for=id_email], label[for=id_password], label[for=id_first_name], label[for=id_last_name], label[for=id_street], label[for=id_city], label[for=id_state], label[for=id_zip], label[for=id_phone_number], label[for=username] {
	display: none;
}

.loginsubmitbutton, .registersubmitbutton, .venueaddsubmitbutton {
	display: flex;
    justify-content: center;
    margin: auto;
	background-color: #9874BA;
	height: 20px;
	margin-top: 6px;
	width: 130px;
}

span.helptext {
	display: none;
}

.add_venue_form {
	display: block;
	text-align: center;
}

.commentinputfield input {
	height: 40px;
	padding-bottom: 20px;
}

::-webkit-input-placeholder {
	color: #9874BA;
}

.venuesContainer {
	margin-top: 20px;
}

