{% extends 'index.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

	{% block main_stuff %}
	<div class="register-form-container floating-panel">
		<div class="closeContainer">
			<h1>Update your info</h1>
			<a class="closeOption" href="/"><p>X</p></a>
		</div>


        <form id="user_form" method="post"
				enctype="multipart/form-data">


            {% csrf_token %}

            {{ student_form.as_p}}
            <input class="updatesubmitbutton" type="submit" name="submit" value="Save" />
        </form>
	</div>
	{% endblock main_stuff %}