{% load static %}
{% load staticfiles %}
{% load bootstrap3 %}


<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
	<title>StudyWhere</title>
  </head>
  <body>

	{% block main_stuff %}
	{% endblock main_stuff %}
	{% if user.is_authenticated %}
	<link rel="stylesheet" type="text/css" href="{% static 'studywhereapp/css/styles.css' %}" />
{% comment %} Including navbar in each template so we can pass the location to it each time {% endcomment %}
{% include "navbar.html" with nav_location=view.location %}

    {% else %}
    <div><a href="{% url 'studywhereapp:register' %}">Register</a></div>
    <div><a href="{% url 'studywhereapp:login' %}">Login</a></div>
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          {% block content %}
          {% endblock content %}
		</div>
		<div>



		</div>
      </div>
    </div>
  </body>
</html>