{% extends 'index.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

	{% block main_stuff %}
	<div class="login-form-container floating-panel">
        <h1>Login to StudyWhere</h1>

        <form id="login_form" method="post" action="{% url 'studywhereapp:login' %}">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
	</div>
	{% endblock main_stuff %}