{% load bootstrap3 %}

<nav>
	<p>hello {{ user.username }}!</p>

	{% if nav_location != 'index' %}
	<a><form action="/" method='get'>
		<input type="submit" value="Home">
	</form></a>
	{% endif %}

	{% if nav_location != 'my_orders' %}
	<a><form action="" method='get'>
		<input type="submit" value="My Orders">
	  </form></a>
	{% endif %}

	{% if nav_location != 'list_products' %}
	  <form action="/venues" method='get'>
		<input type="submit" value="Venues">
	  </form>
	{% endif %}

	{% if nav_location != 'add' %}
	  <form action="/add" method='get'>
		<input type="submit" value="Add a Venue">
	  </form>
	{% endif %}

	{% if nav_location != 'profile' %}
	  <form action="/account" method='get'>
		<input type="submit" value="Profile">
	  </form>
	{% endif %}

	{% if nav_location != 'index' %}
	<a> <form action="/search/" method="get">
		<input type="text" name="q" value="{{ query }}">
		<input type="submit" value="Search">
	</form></a>
	{% endif %}

	<a href="{% url 'studywhereapp:logout' %}">Logout</a>

  </nav>